<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h1>WELCOME TO ORDER METHOD DATA PAGE</h1>
			</div>
			<div class="card-body">
			<a th:href="@{/warehouse/o/ordermethod/excel}"class="btn btn-warning">EXCEL EXPORT</a> |
			<a th:href="@{/warehouse/o/ordermethod/pdf}"class="btn btn-warning">PDF EXPORT</a> 
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr class="bg-info text-white text-center">
							<th>ID</th>
							<th>MODE</th>
							<th>CODE</th>
							<th>DESCRIPTION</th>
							<th>OPERATION</th>
						</tr>
						<tr th:each="ob:${list}">
							<td th:text="${ob.id}"></td>
							<td th:text="${ob.orderMode}"></td>
							<td th:text="${ob.orderCode}"></td>
							<td th:text="${ob.description}"></td>
							<td>
							<a th:href="@{/warehouse/o/ordermethod/delete/{id}(id=${ob.id})}" class="btn btn-danger">DELETE</a>
							<a th:href="@{/warehouse/o/ordermethod/edit/{id}(id=${ob.id})}" class="btn btn-info">EDIT</a>
							<a th:href="@{/warehouse/o/ordermethod/view/{id}(id=${ob.id})}" class="btn btn-info">VIEW</a>
							</td>
						</tr>
				</table>
			</div>
			<!--footer  -->
			<div th:if="${message!=null}">
			<div class="card-footer text-white bg-info">
			<b><span th:text="${message}"></span></b>
			</div>
			</div>
		</div>
	</div>

</body>
</html>