<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header text-center text-white bg-primary">
				<h3>Purchase Order Registration Form</h3>
			</div>
			<!-- header end -->
			<div class="card-body">
				<form th:action="@{/warehouse/po/purchaseorder/save}" method="POST"
					th:object="${purchaseOrder}" id="purchaseOrderForm">
					<!-- row#1 -->
					<div class="form-group row">
						<div class="col-2">
							<label for="orderCode">Order Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{orderCode}" class="form-control" />
						</div>
						<div class="col-6">
							<span id="orderCodeError"></span>
						</div>
					</div>


					<!-- row#Integeration -->
					<div class="form-group row">
						<div class="col-2">
							<label>Shipment Code</label>
						</div>
						<div class="col-4">
							<select th:field="*{shipmentType}" class="form-control">
								<option value="">SELECT</option>
								<option th:each="ob:${shipmentcode}" th:value="${ob.key}"
									th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-6">
							<span id="shipmentTypeError"></span>
						</div>
					</div>

					<!-- row#Integeration -->
					<div class="form-group row">
						<div class="col-2">
							<label>Vendor</label>
						</div>
						<div class="col-4">
							<select th:field="*{vendor}" class="form-control">
								<option value="">SELECT</option>
								<option th:each="ob:${whUsercode}" th:value="${ob.key}"
									th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-6">
							<span id="vendorError"></span>
						</div>
					</div>




					<!-- row#2 -->
					<div class="form-group row">
						<div class="col-2">
							<label for="referenceNumber">Reference Number</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{referenceNumber}"
								class="form-control" />
						</div>
						<div class="col-6">
							<span id="referenceNumberError"></span>
						</div>
					</div>
					<!-- row#3 -->
					<div class="form-group row">
						<div class="col-2">
							<label for="qualityCheck">Quality Check</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{qualityCheck}" value="Required" />
							Required <input type="radio" th:field="*{qualityCheck}"
								value="Not Required" /> Not Required
						</div>
						<div class="col-6">
							<span id="qualityCheckError"></span>
						</div>
					</div>

					<!-- row#4 -->
					<div class="form-group row">
						<div class="col-2">
							<label for="status"> Status</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{status}"
								class="form-control"
								th:value="${purchaseOrder.setStatus('OPEN')}"
								readonly="readonly" />
						</div>
						<div class="col-6">
							<span id="statusError"></span>
						</div>
					</div>
					<!-- row#5 -->
					<div class="form-group row">
						<div class="col-2">
							<label for="description">Description</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-6">
							<span id="descriptionError"></span>
						</div>
					</div>
					<!-- row#6 -->
					<div class="form-group row">
						<button class="btn btn-success">Create Purchase Order</button>
					</div>

				</form>
				<!-- form end -->

			</div>
			<!-- body end -->
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
				<!-- condition end -->
			</div>
			<!-- footer end -->
		</div>
		<!-- card end -->

	</div>
	<!-- container end -->

	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							$("#orderCodeError").hide();
							$("#shipmentTypeError").hide();
							$("#vendorError").hide();
							$("#referenceNumberError").hide();
							$("#qualityCheckError").hide();
							$("#statusError").hide();
							$("#descriptionError").hide();

							var orderCodeError = false;
							var shipmentTypeError = false;
							var vendorError = false;
							var referenceNumberError = false;
							var qualityCheckError = false;
							var statusError = false;
							var descriptionError = false;
							
							
							
							
							$("#orderCode").keyup(
									function() {
										$("#orderCode").val(
												$("#orderCode").val()
														.toUpperCase());
										validate_orderCode();
									});

							$("#shipmentType").change(function() {
								validate_shipmentType();
							});
							$("#vendor").change(function() {
								validate_vendor();
							});
							$("#referenceNumber").keyup(function () {
								validate_referenceNumber();
							});
							
							$('input[type="radio"][name="qualityCheck"]').change(function () {
				                validate_qualityCheck();
				            });
							
							$("#statusError").keyup(function () {
								validate_statusError();
							});
							$("#description").keyup(function() {
								validate_description();
							});
							
						//----------validate_orderCode starts--------------//

							function validate_orderCode() {
								var val = $("#orderCode").val();
								var exp = /^[A-Z]{4,25}$/;
								if (val == '') {
									$("#orderCodeError").show();
									$("#orderCodeError").html(
											"Choose <b>Order Code Code</b>");
									$("#orderCodeError").css("color", "red");
									orderCodeError = false;
								} else if (!exp.test(val)) {
									$("#orderCodeError").show();
									$("#orderCodeError")
											.html(
													" <b>Order Code should be between 4-25 Characters</b>");
									$("#orderCodeError").css("color", "red");
									shipmentCodeError = false;
								} else {
									$("#orderCodeError").hide();
									orderCodeError = true;
								}
								return orderCodeError;
							}
							//--------validate_shipmentType--------//
							function validate_shipmentType() {
								var val = $("#shipmentType").val();
								if (val == '') {
									$("#shipmentTypeError").show();
									$("#shipmentTypeError").html(
											"Choose <b>Shipment Code</b>");
									$("#shipmentTypeError").css("color",
											"red");
									shipmentTypeError = false;
								} else {
									$("#shipmentTypeError").hide();
									shipmentTypeError = true;
								}
								return shipmentTypeError;
							}
							//--------validate_shipmentType----ENDS----//

							function validate_vendor() {
								var val = $("#vendor").val();
								if (val == '') {
									$("#vendorError").show();
									$("#vendorError").html(
											"Choose <b>Vendor</b>");
									$("#vendorError").css("color",
											"red");
									vendorError = false;
								} else {
									$("#vendorError").hide();
									vendorError = true;
								}
								return vendorError;
							}
							//--------validate_vendor----ENDS----//
							
							//--------validate_referenceNumber----STARTS----//
							function validate_referenceNumber() {
								var val = $("#referenceNumber").val();
								if (val == '') {
									$("#referenceNumberError").show();
									$("#referenceNumberError").html(
											"Choose <b>Reference Number Required</b>");
									$("#referenceNumberError").css("color",
											"red");
									referenceNumberError = false;
								} else {
									$("#referenceNumberError").hide();
									referenceNumberError = true;
								}
								return referenceNumberError;
							}
							
							//--------validate_referenceNumber----ENDS----//
								//--------validate_qualityCheck----STARTS----//
							function validate_qualityCheck() {
								var len = $('input[type="radio"][name="qualityCheck"]:checked').length;
								if (len == 0) {
									$("#qualityCheckError").show();
									$("#qualityCheckError").html(
											"Choose <b>Quality Check Required</b>");
									$("#qualityCheckError").css("color",
											"red");
									qualityCheckError = false;
								}else{
									$("#qualityCheckError").hide();
									qualityCheckError = true;
								}
								return qualityCheckError;
							}
							
							//--------validate_qualityCheck----ENDS----//
							
								//--------validate_defaultStatus----STARTS----//
							function validate_status() {
								var val = $("#status").val();
								if (val == '') {
									$("#statusError").show();
									$("#statusError").html(
											"Choose <b>Status Required</b>");
									$("#statusError").css("color",
											"red");
									statusError = false;
								} else {
									$("#statusError").hide();
									statusError = true;
								}
								return statusError;
							}
							//--------validate_defaultStatus----ENDS----//
							
							//--------validate_description----Starts----//
							function validate_description(){
								var val = $("#description").val();
								
								if(val.length < 5||val.length >150){
									$("#descriptionError").show();
									$("#descriptionError").html(
											"Must be <b>5-150 characters</b>");
									$("#descriptionError")
											.css("color", "red");
									descriptionError = false;
								}else{
									$("#descriptionError").hide();
									descriptionError= true;
								}
								return descriptionError;
							}
							//--------validate_description----ENDS----//
							
							//--validate submit ---starts-----//
							$("#purchaseOrderForm").submit(function(){							
								validate_orderCode();						
								validate_shipmentType();
								validate_vendor();
								validate_referenceNumber();
								validate_qualityCheck();
								validate_status();
								validate_description();
								
								if(orderCodeError && shipmentTypeError && vendorError && referenceNumberError
										&& qualityCheckError && statusError && descriptionError ){
									return true;
									
								}else{
									return false;
								}
						});
							
							///-----validate submit ---Ends-----/
						});
	</script>
</body>
</html>