<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<div class="card">
			<div class="card-header text-center bg-primary">
				<h1>WELCOME TO SHIPMENTTYPE EDIT</h1>
			</div>
			<div class="card-body">
				<form th:action="@{/shipmenttype/update}" method="post"
					th:object="${shipmentType}">

					<!--  ROW#1-->
					<div class="row">
						<div class="col-4">
							<label for="shipmentID">Shipment ID</label>
						</div>
						<div class="col-4">
							<input th:field="*{id}" readonly="readonly" class="form-control" />
						</div>
						<div class="col-4"></div>
					</div>

					<!--  ROW#2-->
					<div class="row">
						<div class="col-4">
							<label for="shipmentMode">Shipment Mode:</label>
						</div>
						<div class="col-4">
							<select th:field="*{shipmentMode}" class="form-control">
								<option value="">-SELECT-</option>
								<option value="Air">Air</option>
								<option value="Truck">Truck</option>
								<option value="Ship">Ship</option>
								<option value="Train">Train</option>
							</select>
						</div>
						<div class="col-4">
							<span id="shipmentModeError"></span>
						</div>
					</div>


					<!--  ROW#3-->
					<div class="row">
						<div class="col-4">
							<label for="shipmentCode">Shipment Code:</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{shipmentCode}"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="shipmentCodeError"></span>
						</div>
					</div>

					<!--  ROW#4-->
					<div class="row">
						<div class="col-4">
							<label for="enableShipment" t>Enable Shipment:</label>
						</div>
						<div class="col-4">
							<select th:field="*{enableShipment}" class="form-control">
								<option value="">-SELECT-</option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select>
						</div>
						<div class="col-4">
							<span id="enableShipmentError"></span>
						</div>
					</div>


					<!-- ROW#4 -->
					<div class="row">
						<div class="col-4">
							<label>Shipment Grades</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{shipmentGrade}" value="A" /> A <input
								type="radio" th:field="*{shipmentGrade}" value="B" /> B <input
								type="radio" th:field="*{shipmentGrade}" value="C" /> C
						</div>
						<div class="col-4">
							<span id="shipmentGradeError"></span>
						</div>
					</div>


					<!-- ROW#5 -->
					<div class="row">
						<div class="col-4">
							<label for="description">Description</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id=descriptionError></span>
						</div>
					</div>


					<div class="row">
						<div class="col-4"></div>
						<div class="col-4">
							<input type="submit" class="btn btn-success" value="Update Shipment">
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>