<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h2>Grn Edit Page!</h2>
			</div>
			<!-- header end -->

			<div class="card-body">
				<form th:action="@{/grn/update}" method="POST" th:object="${grn}">
					<input type="hidden" readonly="readonly" th:field="*{id}" />

					<!-- row#1 -->
					<div class="row">
						<div class="col-4">
							<label for="grnCode">Grn Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{grnCode}" class="form-control">
						</div>
						<div class="col-4">
							<span id="grnCodeError"></span>
						</div>
					</div>

					<!-- row#2 -->
					<div class="row">
						<div class="col-4">
							<label for="grnType">Grn Type</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{grnType}" class="form-control">
						</div>
						<div class="col-4">
							<span id="grnTypeError"></span>
						</div>
					</div>


					<!-- row#3 -->
					<div class="row">
						<div class="col-4">
							<label>ORDER CODE</label>
						</div>
						<div class="col-4">
							<select th:field="*{orderCode}" class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${pos}"  th:value="${ob.key}" th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-4">
							<span id="orderCodeError"></span>
						</div>
					</div>

					<!-- row#3 -->
					<div class="row">
						<div class="col-4">
							<label for="description">Description</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="descriptionError"></span>
						</div>
					</div>


					<!-- row#4 -->
					<div class="row">
						<input type="submit" value="Update Grn" class="btn btn-primary">
					</div>

				</form>
			</div>
			<!-- body end -->

			<div th:if="${message!=null}">
				<div class="card-footer text-center bg-info text-white">
					<b><span th:text="${message}"></span></b>
				</div>
				<!-- footer end -->
			</div>
		</div>
		<!-- card end -->
	</div>
</body>
</html>